<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="URL" value="http://localhost:1881" />
		<add key="StartMaximized" value="false" />
		<add key="HideToolbar" value="false" />
		<add key="HideTitleBar" value="false" />
		<add key="Autostart" value="false" />
		<add key="AdminPassword" value="" />
	</appSettings>
</configuration>